In [1]:
import pandas as pd

In [133]:
data = pd.read_excel('q_data.xlsx')

In [134]:
data  # dataframe

   팀명  이름    질문1     질문2    질문3    질문4
0   1   이      a     asf    waf   qawf
1   2   도   awfa    agfe  awfwa  eafga
2   2   경  awfaw  awfgaw   aefa  awfaw
3   3   이    NaN     NaN    NaN    NaN
4   4   태    NaN     NaN    NaN    NaN
5   5   빈    NaN     NaN    NaN    NaN
6   4  신선    NaN     NaN    NaN    NaN
7   4  하하    NaN     NaN    NaN    NaN

In [135]:
data = data.fillna("")
data

   팀명  이름    질문1     질문2    질문3    질문4
0   1   이      a     asf    waf   qawf
1   2   도   awfa    agfe  awfwa  eafga
2   2   경  awfaw  awfgaw   aefa  awfaw
3   3   이
4   4   태
5   5   빈
6   4  신선
7   4  하하

In [136]:
data.to_pickle("./q_data.pickle")

In [137]:
unpickled_df = pd.read_pickle("./q_data.pickle")

In [138]:
unpickled_df

   팀명  이름    질문1     질문2    질문3    질문4
0   1   이      a     asf    waf   qawf
1   2   도   awfa    agfe  awfwa  eafga
2   2   경  awfaw  awfgaw   aefa  awfaw
3   3   이
4   4   태
5   5   빈
6   4  신선
7   4  하하

In [124]:
selected_row = unpickled_df.loc[unpickled_df['이름'] == '도'].to_dict('records')[0]
selected_row

{'팀명': 2,
 '이름': '도',
 '질문1': 'awfa',
 '질문2': 'agfe',
 '질문3': 'awfwa',
 '질문4': 'eafga'}

In [125]:
selected_row['팀명'] # series

2

In [126]:
# append

In [69]:
unpickled_df

   팀명 이름    질문1     질문2    질문3    질문4
0   1  이      a     asf    waf   qawf
1   2  도   awfa    agfe  awfwa  eafga
2   2  경  awfaw  awfgaw   aefa  awfaw
3   3  이
4   4  태
5   5  빈

In [127]:
len(unpickled_df)  # 몇개의 응답이 있는지

7

In [83]:
selected_idx = unpickled_df.loc[unpickled_df['이름'] == '태'].index
new_df = pd.DataFrame({'질문1': '안녕', '질문2':'하세'}, index=selected_idx)
unpickled_df.update(new_df)
unpickled_df

   팀명 이름    질문1     질문2    질문3    질문4
0   1  이      a     asf    waf   qawf
1   2  도   awfa    agfe  awfwa  eafga
2   2  경  awfaw  awfgaw   aefa  awfaw
3   3  이
4   4  태     안녕      하세
5   5  빈

In [93]:
# dataframe pickle 테스트

In [91]:
test = pd.read_pickle("./q_data.pickle")
test

   팀명 이름     질문1     질문2   질문3    질문4
0   1  이       a     asf   waf   qawf
1   2  도  안녕ㅇ하세요     도경이    질문    입니다
2   2  경   awfaw  awfgaw  aefa  awfaw
3   3  이
4   4  태  안녕ㅇ하세요     도경이    질문      d
5   5  빈

In [103]:
selected_row_dict = test.loc[test['이름'] == '태'].to_dict('records')[0]
selected_row_dict

{'팀명': 4, '이름': '태', '질문1': '안녕ㅇ하세요', '질문2': '도경이', '질문3': '질문', '질문4': 'd'}

In [94]:
# 문답 있는지 확인

In [139]:
test = pd.read_pickle("./q_data.pickle")
test

   팀명  이름     질문1     질문2    질문3    질문4
0   1   이       a     asf    waf   qawf
1   2   도    awfa    agfe  awfwa  eafga
2   2   경   awfaw  awfgaw   aefa  awfaw
3   3   이
4   4   태       ㅁ       ㅇ      ㄴ      ㅇ
5   5   빈
6   4  신선  신선질문임다      ㅊ아    ㅡㅏㅣ    ㅣㅏㅡ
7   4  하하   웃어보세용      웃어      웃      웃

In [109]:
selected_row_dict = test.loc[test['이름'] == '빈'].to_dict('records')[0]
selected_row_dict

{'팀명': 5, '이름': '빈', '질문1': '', '질문2': '', '질문3': '', '질문4': ''}

In [110]:
check_existed = False
for q_num in range(1,5):
    q_name = '질문' + str(q_num)
    print(q_name)
    if selected_row_dict[q_name] != "":
        check_existed = True
        break
        
check_existed

질문1
질문2
질문3
질문4

False

In [143]:
selected_row_dict = test.loc[test['이름'] == '똥']
len(selected_row_dict)

0

In [141]:
selected_row_dict = test.loc[test['이름'] == '똥'].to_dict('records')[0]
selected_row_dict

{'팀명': 5, '이름': '빈', '질문1': '', '질문2': '', '질문3': '', '질문4': ''}

In [116]:
a = int(7/2)
a

3

In [117]:
b = int(7%2)
b

1

In [128]:
# form에 출력할 것

In [129]:
test = pd.read_pickle("./q_data.pickle")
test

   팀명  이름     질문1     질문2    질문3     질문4
0   1   이       a     asf    waf    qawf
1   2   도    awfa    agfe  awfwa   eafga
2   2   경   awfaw  awfgaw   aefa   awfaw
3   3   이
4   4   태
5   5   빈
6   4  신선  안녕ㅇ하세요       신      선  질문답입니다

In [131]:
selected_rows_dict = test.loc[test['팀명'] == 4].to_dict('records')
selected_rows_dict

[{'팀명': 4, '이름': '태', '질문1': '', '질문2': '', '질문3': '', '질문4': ''},
 {'팀명': 4,
  '이름': '신선',
  '질문1': '안녕ㅇ하세요',
  '질문2': '신',
  '질문3': '선',
  '질문4': '질문답입니다'}]

In [132]:
completed_rows = []

for e in selected_rows_dict:
    
    for q_num in range(1,5):
        
        q_name = '질문' + str(q_num)
        
        if e[q_name] != "":
            # completed면 추가
            completed_rows.append(e)
            break
            
completed_rows

[{'팀명': 4,
  '이름': '신선',
  '질문1': '안녕ㅇ하세요',
  '질문2': '신',
  '질문3': '선',
  '질문4': '질문답입니다'}]

In [ ]:
numi = 3 / numj = 1 / 2

[i*2+d]->0 [i*2+d]->1
[i*2+d]->2 [i*2+d]->3
[i*2+d]->4 [i*2+d]->5
[numi*2]